
<%- include('headerAdmin') %>
<div class=" adm container mt-4">
    
    
        <hr />
    <h3 class="text-center"> Consulta dos Caixas da loja: <%= stores.name %></h3>
    <hr />
    <div class="form-group mx-auto col-md-10"> 
           
    
    <a href="/admin/caixas"><button class="btn btn-primary">Voltar</button></a>
    <% values.forEach(info => { %>
        <div class="card my-3">
            <div class="card-body">
                    
                <table class="table table-hover ">
                    <thead>
                    </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Data:</th>
                            <td><%= info.date %></td>
                        </tr>
                        <tr>
                            <th scope="row">Funcionária:</th>
                            <td><%= info.name %></td>
                        </tr>
                        <tr>
                            <th scope="row">Loja:</th>
                            <td><%= stores.name %></td>
                        </tr>
                        <tr>
                            <th scope="row">Cópias:</th>
                            <td><%= info.copy %></td>
                        </tr>
                        <tr>
                            <th scope="row">Impressões:</th>
                            <td><%= info.print %></td>
                        </tr>
                    </tbody>
                </table>
            
                <div class="row"> 
                        <a href= "edit/<%= info._id %>"><button class="btn btn-sm mx-2 btn-warning"> Editar</button></a>
                       <form action="/admin/caixas/excluir" method="POST">
                           <input type="hidden" name="id" value="<%= info._id %>" />
                           <button class="btn btn-sm btn-danger"> Excluir</button>
                       </form>
                </div>
                
            </div>
            
        </div>
    <% }) %>
</div>
</div>
<%- include('footer') %>